{%  extends "html/layout.html"  %}

{%block title%}Home{%endblock%}

{% block content%}
<div class="contentstrip">
    {% for post in posts %}
    <div class="content">
        <p class="contenttext">@{{post[2]}} - {{post[3]}}</p>
        
        <p class="contentdate">Published date : {{post[4]}}</p>

        {% if post[1] == cuser.id or cuser.isSuper == 1 %}
            <a class="actionbtn" href="/post/delete/{{post[0]}}">Delete</a>
        {% endif %}
    </div>
    {% endfor %}

</div>
<div class="postactionsection">
    <a class="createpostbtn" href="/post/create">Create Post</a>
</div>
{%endblock%}