<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="title">
                Login!
            </div>
            <form action="/login" method="post">
                <input type="text" name="username" id="username" placeholder="Username"><br>
                <input type="password" name="pass1" id="pass1" placeholder="Password"><br>
                {% with messages = get_flashed_messages()%}
                    {% if messages %}
                        <p style = "color:red;">{{messages[0]}}</p>
                    {% endif %}
                {% endwith %}
                <input type="submit" class="btn" value="submit"><br>
                
                <p>Already hava an account? <a href="/signup">Signup</a></p>

            </form>
        </div>
    </div>
</body>
</html>